<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Company</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/dash/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/dash/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../static/dash/assets/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="../static/dash/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../static/dash/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../static/dash/assets/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            </div>
            <ul class="nav">
                <li class="nav-item profile">
                    <div class="profile-desc">
                        <div class="profile-pic">
                            <div class="count-indicator">
                                <img class="img-xs rounded-circle " src="../static/dash/assets/images/faces/face0.jpg" alt="">
                                <span class="count bg-success"></span>
                            </div>
                            <div class="profile-name">
                                <h5 class="mb-0 font-weight-normal">{{company['cname']}}</h5>
                                <span>Company</span>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="nav-item nav-category">
                    <span class="nav-link">Navigation</span>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="{{url_for('companyDashboard')}}">
                        <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>


                <li class="nav-item menu-items">
                    <a class="nav-link" href="{{url_for('companyPublishMarket')}}">
                        <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
                        <span class="menu-title">Publish Market</span>
                    </a>
                </li>

                <li class="nav-item menu-items">
                    <a class="nav-link" href="{{url_for('checkingMessage')}}">
                        <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
              </span>
                        <span class="menu-title">Read Message</span>
                    </a>
                </li>

                <li class="nav-item menu-items">
                    <a class="nav-link" href="{{url_for('writeMessage',data='')}}">
                        <span class="menu-icon">
                        <i class="mdi mdi-chart-bar"></i>
                      </span>
                        <span class="menu-title">Write Message</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_navbar.html -->
            <nav class="navbar p-0 fixed-top d-flex flex-row">
                <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                </div>
                <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
                    <ul class="navbar-nav w-100">

                    </ul>
                    <ul class="navbar-nav navbar-nav-right">

                        <li class="nav-item nav-settings d-none d-lg-block">
                            <a class="nav-link" href="#">
                                <i class="mdi mdi-view-grid"></i>
                            </a>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                                <div class="navbar-profile">
                                    <img class="img-xs rounded-circle" src="../static/dash/assets/images/faces/face0.jpg" alt="">
                                    <p class="mb-0 d-none d-sm-block navbar-profile-name">{{company['cname']}}</p>
                                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                                <h6 class="p-3 mb-0">Profile</h6>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item" href="{{url_for('logout')}}">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-logout text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Log out</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
                </div>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        {%for msg in get_flashed_messages()%}
                        <h3 class="page-title" style="color:green;"> {{msg}} </h3>
                        {%endfor%}
                        <nav aria-label="breadcrumb">

                        </nav>
                    </div>
                    <div class="row">

                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Bidder' s Informations</h4>

                                    <form class="forms-sample">
                                        <div class="form-group">
                                            <label for="exampleInputName1">Name</label>
                                            <input type="text" class="form-control" id="exampleInputName1" value="{{supplier['fname']}} {{supplier['lname']}}" readonly style="color:rgb(70, 69, 69);font-weight: bold;">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail3">Email address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail3" value="{{supplier['email']}}" readonly style="color:rgb(70, 69, 69);font-weight: bold;">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail3">Phone Number</label>
                                            <input type="text" class="form-control" id="exampleInputEmail3" value="{{supplier['phone']}}" readonly style="color:rgb(70, 69, 69);font-weight: bold;">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail3">TIN Number</label>
                                            <input type="text" class="form-control" id="exampleInputEmail3" value="{{supplier['tin']}}" readonly style="color:rgb(70, 69, 69);font-weight: bold;">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail3">Bid Title</label>
                                            <input type="text" class="form-control" id="exampleInputEmail3" value="{{supplier['b_title']}}" readonly style="color:rgb(70, 69, 69);font-weight: bold;">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail3">Bid Type</label>
                                            <input type="text" class="form-control" id="exampleInputEmail3" value="{{supplier['b_type']}}" readonly style="color:rgb(70, 69, 69);font-weight: bold;">
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleTextarea1">Bid Description</label>
                                            <textarea class="form-control" id="exampleTextarea1" rows="4" readonly style="color:rgb(70, 69, 69);">{{supplier['b_descr']}}</textarea>
                                        </div>

                                        <a href="{{url_for('file_download')}}"><button type="button" class="btn btn-outline-warning btn-icon-text"> Download Attached File <i class="mdi mdi-file-check btn-icon-append"></i>
                                        </button></a>
                                        <br><br><br>
                                    </form>
                                    <a href="{{url_for('updateBidStatus',data={'b_id':supplier['b_id'],'status':'approved'}) }}"><button class="btn btn-primary mr-2">Approve</button></a>
                                    <a href="{{url_for('updateBidStatus',data={'b_id':supplier['b_id'],'status':'rejected'}) }}"><button class="btn btn-danger" >Reject</button></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Digital Procurement 2022</span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../static/dash/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../static/dash/assets/vendors/select2/select2.min.js"></script>
    <script src="../static/dash/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../static/dash/assets/js/off-canvas.js"></script>
    <script src="../static/dash/assets/js/hoverable-collapse.js"></script>
    <script src="../static/dash/assets/js/misc.js"></script>
    <script src="../static/dash/assets/js/settings.js"></script>
    <script src="../static/dash/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../static/dash/assets/js/file-upload.js"></script>
    <script src="../static/dash/assets/js/typeahead.js"></script>
    <script src="../static/dash/assets/js/select2.js"></script>
    <!-- End custom js for this page -->
</body>

</html>