<!DOCTYPE html>
<html lang="en">

<head>
    <title>Company Reg</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../static/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="../static/login/css/main.css">
    <!--===============================================================================================-->
</head>

<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="../static/login/images/img-01.png" alt="IMG">
                </div>

                <form class="login100-form validate-form" method="POST" action="{{url_for('companyRegister')}}">
                    <span class="login100-form-title">
						Company Register
					</span> {%for msg in get_flashed_messages()%}
                    <p style="color:red;">{{msg}}</p>
                    {%endfor%}

                    <div class="wrap-input100 validate-input" data-validate="Company Name is required">
                        <input class="input100" type="text" name="cname" placeholder="Company Name" value="{{company['cname']}}" pattern=".{2,}" title="two or more characters">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="email" name="email" placeholder="Email" value="{{company['email']}}">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Valid Phone Number is required">
                        <input class="input100" type="text" name="phone" placeholder="Phone Number" value="{{company['phone']}}" pattern="[07]{2}[8|9|2|3]{1}[0-9]{7}" title="Phone Number should contain 10 digits and start with either 078 or 079 or 072 or 073">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							<i class="fa fa-phone-square" aria-hidden="true"></i>
						</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Valid TIN Number is required">
                        <input class="input100" type="text" name="tin" placeholder="TIN Number" value="{{company['tin']}}" pattern="[0-9]{9}" title="Tin Number should conyain 9 digits">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
						</span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="pass1" placeholder="Password" id="pass1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least 1 digit and 1 uppercase and 1 lowercase and at least 8 or more characters">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="pass2" placeholder="Re-type Password" id="pass2">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                    </div>
                    <input type="hidden" name="c_status" value="deactivated">
                    <input type="checkbox" onclick="showPass()"> <span style="color:aliceblue;">Show Password</span>
                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
							Register
						</button>
                    </div>

                    <div class="text-center p-t-12">
                        <span class="txt1">
							Forgot
						</span>
                        <a class="txt2" href="{{url_for('recoveryPass',status=request.endpoint)}}">
							 Password?
						</a>
                    </div>

                    <div class="text-center p-t-136">
                        <a class="txt2" href="{{url_for('companyLogin')}}">
							Login your Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
                    </div>
                </form>
            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="../static/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="../static/login/vendor/bootstrap/js/popper.js"></script>
    <script src="../static/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="../static/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="../static/login/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="../static/login/js/main.js"></script>

</body>

</html>