<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Supplier</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/dash/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/dash/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../static/dash/assets/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="../static/dash/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../static/dash/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../static/dash/assets/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            </div>
            <ul class="nav">
                <li class="nav-item profile">
                    <div class="profile-desc">
                        <div class="profile-pic">
                            <div class="count-indicator">
                                <img class="img-xs rounded-circle " src="../static/dash/assets/images/faces/face0.jpg" alt="">
                                <span class="count bg-success"></span>
                            </div>
                            <div class="profile-name">
                                <h5 class="mb-0 font-weight-normal">{{supplier['fname']}}</h5>
                                <span>Supplier</span>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="nav-item nav-category">
                    <span class="nav-link">Navigation</span>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="{{url_for('supplierDashboard')}}">
                        <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>

                <li class="nav-item menu-items">
                    <a class="nav-link" href="{{url_for('checkingMessage')}}">
                        <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
                        <span class="menu-title">Read Message</span>
                    </a>
                </li>

                <li class="nav-item menu-items">
                    <a class="nav-link" href="{{url_for('writeMessage',data='')}}">
                        <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
              </span>
                        <span class="menu-title">Write Message</span>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_navbar.html -->
            <nav class="navbar p-0 fixed-top d-flex flex-row">
                <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                </div>
                <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
                    <ul class="navbar-nav w-100">

                    </ul>
                    <ul class="navbar-nav navbar-nav-right">

                        <li class="nav-item nav-settings d-none d-lg-block">
                            <a class="nav-link">
                                <i class="mdi mdi-view-grid"></i>
                            </a>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                                <div class="navbar-profile">
                                    <img class="img-xs rounded-circle" src="../static/dash/assets/images/faces/face0.jpg" alt="">
                                    <p class="mb-0 d-none d-sm-block navbar-profile-name">{{supplier['fname']}}</p>
                                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                                <h6 class="p-3 mb-0">Profile</h6>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item" href="{{url_for('logout')}}">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-logout text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Log out</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
                </div>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        {%for msg in get_flashed_messages()%}
                        <h3 class="page-title" style="color:green;"> {{msg}} </h3>
                        {%endfor%}
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Supplier</li>
                                <li class="breadcrumb-item active" aria-current="page">Bidding</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="row">
                        <div class="col-md-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Applicant Information</h4>

                                    <form class="forms-sample">
                                        <div class="form-group">
                                            <label for="exampleInputUsername1">Username</label>
                                            <input type="text" class="form-control" placeholder="Username" value="{{supplier['fname']}} {{supplier['lname']}}" readonly style="color:rgb(70, 69, 69);font-weight: bold;">
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputUsername1">Email</label>
                                            <input type="text" class="form-control" placeholder="Username" value="{{supplier['email']}}" readonly style="color:rgb(70, 69, 69);font-weight: bold;">
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputUsername1">Phone</label>
                                            <input type="text" class="form-control" placeholder="Username" value="{{supplier['phone']}}" readonly style="color:rgb(70, 69, 69);font-weight: bold;">
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputUsername1">TIN</label>
                                            <input type="text" class="form-control" placeholder="Username" value="{{supplier['tin']}}" readonly style="color:rgb(70, 69, 69);font-weight: bold;">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Company Information</h4>

                                    <form class="forms-sample">
                                        <div class="form-group">
                                            <label for="exampleInputUsername1">Company Name</label>
                                            <input type="text" class="form-control" value="{{market['cname']}}" readonly style="color:rgb(70, 69, 69);font-weight: bold;">
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputUsername1">Email</label>
                                            <input type="text" class="form-control" value="{{market['cemail']}}" readonly style="color:rgb(70, 69, 69);font-weight: bold;">
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputUsername1">Phone</label>
                                            <input type="text" class="form-control" value="{{market['phone']}}" readonly style="color:rgb(70, 69, 69);font-weight: bold;">
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputUsername1">TIN</label>
                                            <input type="text" class="form-control" value="{{market['tin']}}" readonly style="color:rgb(70, 69, 69);font-weight: bold;">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Market Description</h4>

                                    <form class="forms-sample" method="POST" action="" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="exampleInputName1">Market Tile</label>
                                            <input type="text" class="form-control" name="b_title" value="{{market['m_title']}}" id="exampleInputName1" readonly style="color:rgb(70, 69, 69);font-weight: bold;" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputName1">Market Type</label>
                                            <input type="text" class="form-control" name="b_type" value="{{market['m_type']}}" id="exampleInputName1" readonly style="color:rgb(70, 69, 69);font-weight: bold;" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleTextarea1">Market Details</label>
                                            <textarea class="form-control" id="exampleTextarea1" rows="4" readonly style="color:rgb(70, 69, 69);font-weight: bold;">{{market['details']}}</textarea>
                                        </div>

                                        <h4 class="card-title">Fill The Fields Below and Upload a File To Bid For Market</h4>

                                        <div class="form-group">
                                            <label for="exampleTextarea1">Textarea</label>
                                            <textarea class="form-control" name="b_descr" id="exampleTextarea1" rows="4" style="color:rgb(217, 215, 215);" required></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>Upload PDF Files Only</label>

                                            <div class="input-group col-xs-12">
                                                <input type="file" name="file" class="form-control file-upload-info" placeholder="Upload PDF file only" required accept=".pdf">

                                            </div>
                                        </div>
                                        <input type="hidden" name="b_status" value="pending">
                                        <input type="hidden" name="m_id" value="{{market['m_id']}}">
                                        <input type="hidden" name="cemail" value="{{market['cemail']}}">
                                        <input type="hidden" name="s_email" value="{{supplier['email']}}"> {%if market %}
                                        <button type="submit" class="btn btn-primary mr-2">Bid</button> {%endif%}
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Digital Procurement 2022</span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../static/dash/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../static/dash/assets/vendors/select2/select2.min.js"></script>
    <script src="../static/dash/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../static/dash/assets/js/off-canvas.js"></script>
    <script src="../static/dash/assets/js/hoverable-collapse.js"></script>
    <script src="../static/dash/assets/js/misc.js"></script>
    <script src="../static/dash/assets/js/settings.js"></script>
    <script src="../static/dash/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../static/dash/assets/js/file-upload.js"></script>
    <script src="../static/dash/assets/js/typeahead.js"></script>
    <script src="../static/dash/assets/js/select2.js"></script>
    <!-- End custom js for this page -->
</body>

</html>